/*---------------------NavBar-----------------------*/
/*NavBar*/
.ui.inverted.blue.menu, .ui.inverted.menu .blue.active.item {
    background-color: #2185d0;
    margin-bottom: 100px;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
    width: 250px!important;
    height: auto;
    font-size: 1rem;
    margin-left: 0px!important;
}

/*---------------------WELCOME_PAGE-----------------------*/
.background-image {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/20/e9/95/20e995b3230740e1051c509c12a01f3d.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*---------------------FOOTER_PAGE-----------------------*/
footer {
  margin-left: 20px;
  margin-top:
}

h1.welcome {
    margin-top: 0;
    text-align: center;
    font-weight:normal;
    text-transform:uppercase;
    color:rgb(247, 247, 247);
    letter-spacing:1pt;
    word-spacing:-1pt;
    font-size:38px;
    font-family:times new roman, times, serif;
    line-height:1;

}

.login-button {
  text-align: center;
  margin-top: 300px;
}


/*---------------------MAIN_PAGE-----------------------*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 50px;
    width: 70%;
    height: 550px;
}

.profile-name {
  height: 80px;
  margin-top: 30px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  margin-bottom: 20px;
}

.profile-networth {
  margin-top: 30px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  margin-bottom: 20px;
  height: 107px;
}

.account-balance {
  height: 80px;
  margin-top: 30px;
}

.dollar {
  margin-left: 60px;
}


#user-profile-title {
   font-size: 25px;
    margin-left: 30px;
}

#user-profile-net {
  font-size: 25px;
  margin-left: 20px;
}

#user-profile-balance {
  margin-left: 100px;
  font-size: 25px;
}


#joined {
  font-size: 20px;
  text-align: center;
}

#user-money {
  font-size: 30px;
}

#user-balance {
  font-size: 30px;
  text-align: center;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
    width: 300px;
    height: auto;
    font-size: 1rem;
    margin-left: 30px;
}

.pie-chart {
  margin-top: 50px;
}
/*container holding accordion*/

.accordion-portfolio {
  margin-top: 30px;
  margin-right: 50px;
}

/*font in the accordion*/
.ui.accordion .title:not(.ui) {
    padding: .5em 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1em;
    color: rgba(0,0,0,.87);
    font-size: 30px;
}

child, .ui.styled.accordion>.title:first-child {
    border-top: none;
    height: 60px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*---------------------LOGIN_PAGE-----------------------*/
.hide-button {
  background-color: white;
  border: none;
}

input.login-input {
  margin-left: 0px;
  width: 200px;
}
label.login-label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.cancel-page-button {
  margin-left: 20px;
}

.login-page-button {
  margin-left: 450px;
}
/*---------------------INVEST_PAGE-----------------------*/
/*UserPortfolio */
th, td {
  padding: 20px;
  text-align: left;
}

canvas {
  argin-left: 100px;
}

/*element.style {
    display: block!important;
}*/

/*.search-bar*/
.ui.search {
  position: absolute;
  margin-left: -350px;
}

/*invest preview*/
.ui.card {
  margin: 1em 0;
  width: 400px;
  margin-left: 60px;
  height: 400px;

}


/*input field for equity quantiy*/
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    width: 115px;
    font-size: 25px;
    height: 40px;
    margin-left: 100px;
}



/*search bar*/
.ui.input {
  margin-left: -90px;
  width: 400px;
}



/*Equity amount total*/
.ui.card>.content, .ui.cards>.card>.content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    box-shadow: none;
    font-size: 30px;
    border-radius: 0;
}

/*header for equity name*/
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 700;
    font-size: 1em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    height: 2.2em;
    line-height: 1.1;
    overflow: auto;
}

/*invest preview price total*/
.price-total {
  margin-left: 10px;
  font-size: 50px;
}

.amount-box{
  margin-top: 50px;
}

/*line graph*/
.line-graph{
  width: 75%;
  margin-left: 120px;
}

/*purchase-button*/
.purchase-button{
  .height: 50px;
}
.ui.green.button, .ui.green.buttons .button {
    background-color: #21ba45;
    color: #fff;
    text-shadow: none;
    background-image: none;
    width: 400px;
    height: 80px;
}

/*---------------------MORE-INFO-MODAL-----------------------*/

.chart-data {
  margin-right: 50px;
}
